html, body {
    height:100%;
    margin:0;
    padding:0;
    overflow-x: hidden;
}
 
body {
    background:#fbffcc;
    text-align:center;
    font-family:Verdana;
}

#page {
    width:960px;
    min-height:100%;
    margin: 0 auto 0 auto;
    background-color:#fbffcc;
}

#content {
    margin-bottom:10px;
    overflow:auto;
    padding-bottom:60px;
	
}

/* Header start */
#header {
	text-align: center;
	margin: 0 0 10px 0;
	padding: 0 9999px;
	margin: 0 -9999px;
	background:url('images/background.jpg') repeat-x;
}
/* Header end */

/* Footer */
#footer {
  position:relative;
  margin: -60px auto 0 auto;
  clear:both;
  width:960px;
  height:60px;
  text-align:center;
  color:#7b840d;
  background-color:#fbffcc;
}
#button {
float:right;
}

h1.new {
text-align:center;
margin-left:150px;
}

h1 {
text-align:center;
color:#7b840d;
}

#formbutton{
cursor:pointer;
border:outset 1px #ccc;
background:#999;
color:#666;
font-weight:bold;
padding: 1px 2px;
background:url(media/formbg.gif) repeat-x left top;
}

ul
{
list-style-type:none;
margin:0;
width: 960px;
padding:0;
overflow:hidden;
}
li
{
float:left;
}
#nav a:link,a:visited
{
display:block;
font-weight:bold;
background-color:#98bf21;
text-align:center;
padding:4px;
text-decoration:none;
text-transform:uppercase;
}
a:hover,a:active
{
background-color:#7A991A;
}

p.special {
text-align:center;
color:blue;
}

p.name {
text-align:center;
}

p.description {
padding: 0 10px 0 10px;
font-size:15px;
font-family: verdana;
}

#left, #center, #right {
float:left;
width:320px;
margin:0 0 30px 0;
}


#about {
width: 800px;
margin: 0 auto 0 auto;
text-align:left;
color:#7b840d;
}

#team {
width: 960px;
margin: 0 auto 0 auto;
text-align:left;
color:#7b840d;
}
