html {
    height:100%;
    margin:0;
    padding:0;
}
 
body {
    margin:0;
    background: #fbffcc fixed;
    height:100%;
    text-align:center;
    padding:0;
}

#page {
    width:925px;
    min-height:600px;
    margin: 0 auto 0 auto;
    position:relative;
    background-color:#fbffcc;
}

#content {
    margin:0;
    padding-bottom:40px;
    min-height:600px;
}

#left {
float:left;
}

#right {
float:right;
}

#formbutton{
cursor:pointer;
border:outset 1px #ccc;
background:#999;
color:#666;
font-weight:bold;
padding: 1px 2px;
background:url(media/formbg.gif) repeat-x left top;
}
