/* Stylesheets for forms on signup and updateProfile pages */
label { width:40em; float:left; font-family:verdana;}
label.error { float:none; color: red; padding-left:.5em; vertical-align:top; }
p { clear: both;} 
p.subtitle{text-align:left; padding-left:150px;}
.submit { margin-left:12em }
em { font-weight:bold; padding-right: 1em; vertical-align:top; }
label, input.radio { vertical-align:middle; margin-right:-400px;}
body {background-color:#fbffcc }

