html {
    height:100%;
    margin:0;
    padding:0;
}
 
body {
    margin:0;
    background: #fbffcc fixed;
    height:100%;
    padding:0;
	font-family:Verdana;
}

#page {
    width:925px;
    min-height:600px;
    margin: 0 auto 0 auto;
    position:relative;
    background-color:#fbffcc;
}

h1 {
text-align:center;
}

#left {
float:left;
margin-top:100px;
width:250px;
padding-left:30px;
}

p.choice {
padding-left:50px;
}

#formbutton{
cursor:pointer;
border:outset 1px #ccc;
background:#999;
color:#666;
font-weight:bold;
padding: 1px 2px;
background:url(media/formbg.gif) repeat-x left top;
}
