html, body {
    height:100%;
    margin:0;
    padding:0;
    overflow-x: hidden;
}
 
body {
    background:#fbffcc;
    text-align:center;
    font-family:Verdana;
}

#page {
    width:960px;
    min-height:100%;
    margin: 0 auto 0 auto;
    background-color:#fbffcc;
}

#content {
    margin-bottom:10px;
    overflow:auto;
    padding-bottom:60px;
	
}

/* Header start */
#header {
	text-align: center;
	margin: 0 0 10px 0;
	padding: 0 9999px;
	margin: 0 -9999px;
	background:url('images/background.jpg') repeat-x;
}
/* Header end */

#right {
    float:right;
}

p.update {
text-align:left;
}

#update {
padding-left:250px;
color:#7b840d;
width:500px;
}

label
{
 font: normal 12px/20px Arial, Sans-serif;
 color: black;
 vertical-align: middle;
}
/* common settings checkbox and radiobutton */
input[type="checkbox"],
input[type="radio"]
{
 -khtml-appearance: none;
 background: url('images/radioandcheckboxsprite.gif') no-repeat;
 width: 20px;
 height: 20px;
 vertical-align: middle;
}
input[type="checkbox"]
{
 background-position-x: left;
}
input[type="radio"]
{
 background-position-x: right;
}
input[type="checkbox"]:hover,
input[type="radio"]:hover
{
 background-position-y: -40px;
}
input[type="checkbox"]:checked,
input[type="radio"]:checked
{
 background-position-y: -20px;
}
input[type="checkbox"]:checked:hover,
input[type="radio"]:checked:hover
{
 background-position-y: -60px;
}
/* disabled settings for checkbox and radiobutton */
input[type="radio"]:disabled,
input[type="checkbox"]:disabled
{
 opacity: .3;
}

#footer {
  position:relative;
  margin: -60px auto 0 auto;
  clear:both;
  width:960px;
  height:60px;
  text-align:center;
  color:#7b840d;
  background-color:#fbffcc;
}
