html, body {
	margin: 0;
	padding: 0;
	font-family: "Times New Roman", arial, Verdana;
	color: #817a53;
	background: #fbffcc;
}

#page {
    position:relative;
	width:960px;
	height:680px;
	margin: 0 auto 0 auto;
	padding: 0;
}

/* Header start */
#header {
	text-align: center;
	margin: 0 0 10px 0;
	padding: 0;
}
/* Header end */

#formbutton{
cursor:pointer;
border:outset 1px #ccc;
background:#999;
color:#666;
font-weight:bold;
padding: 1px 2px;
background:url(media/formbg.gif) repeat-x left top;
}



ul
{
list-style-type:none;
margin:0;
width: 900px;
padding:0;
overflow:hidden;
}
li
{
float:left;
}
#nav a:link,a:visited
{
display:block;
width:100px;
font-weight:bold;
color:#FFFFFF;
background-color:#98bf21;
text-align:center;
padding:4px;
text-decoration:none;
text-transform:uppercase;
}
a:hover,a:active
{
background-color:#7A991A;
}


.shadowBox {
-moz-box-shadow: 3px 3px 4px #000;
-webkit-box-shadow: 3px 3px 4px #000;
box-shadow: 3px 3px 4px #000;
}

/* Box properties for o(ther)day and today */
#oday {
float:left;
background: url("t1.png");
margin-top:150px;
min-width:130px;
width:130px;
margin-right:3px;
text-align:center;
color:rgb(255,255,255);
}

#today {
float:left;
background-color:#c3e2da;
margin-right:3px;
height:500px;
width:557px;
}

/* Wrapper for the charts */
#chartwrapper {
float:right;
width:220px;
}

/* Text properties for main box */
p.food {
padding: 0 0 0 5px;
width:137px;
}


h1 {
text-align:center;
}

p.odaytext {
color:rgb(255,255,255);
}



